[project]
name = "feluda"
version = "0.9.3"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "boto3>=1.37.30",
    "dacite>=1.9.2",
    "pydub>=0.25.1",
    "pyyaml>=6.0.2",
    "requests>=2.32.3",
    "werkzeug>=3.1.3",
    "wget>=3.2",
    "pillow>=11.1.0",
    "numpy>=2.2.4",
]

[project.optional-dependencies]
dev = [
    "tomlkit>=0.13.2",
    "ruff>=0.11.4",
    "pre-commit>=4.2.0",
    "jupyter>=1.1.1",
    "notebook>=7.3.3",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.semantic_release]
version_variable = ["pyproject.toml:project.version"]

[tool.semantic_release.branches.main]
match = "main"
prerelease = false
tag_format = "{name}-{version}"

[tool.uv.workspace]
members = [
    "operators/image_vec_rep_resnet",
    "operators/vid_vec_rep_clip",
    "operators/cluster_embeddings",
    "operators/dimension_reduction",
]

[tool.ruff]
exclude = ["src", "dist", ".docker", ".pytest_cache", ".ruff_cache"]

[tool.hatch.build.targets.wheel]
packages = ["feluda"]

[tool.deptry]
package_module_name_map.torch = "torch"
package_module_name_map.torchvision = "torchvision"
package_module_name_map.numpy = "numpy"
package_module_name_map.pillow = "PIL"

# Ignore custom packages and internal imports
known_first_party = [
    "feluda",
    "operators",
    "feluda.*",
    "operators.*"
]

# Exclude irrelevant dependencies from unused checks
ignore = ["DEP002"]

# Exclude test and documentation directories
exclude = ["src", "tests", "examples"]