[project]
name = "feluda"
version = "0.9.0"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "boto3>=1.35.63",
    "dacite>=1.8.1",
    "pydub>=0.25.1",
    "pyyaml>=6.0.2",
    "requests>=2.32.3",
    "werkzeug>=3.1.3",
    "wget>=3.2",
    "toml>=0.10.2",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.semantic_release]
version_variable = ["src/__init__.py:__version__"]
assets = [
    "src/worker/vidvec/Dockerfile.video_worker",
    "src/worker/audiovec/Dockerfile.audio_worker",
    "src/worker/hash/Dockerfile.hash_worker",
]

[tool.uv.workspace]
members = ["operators/image_vec_rep_resnet"]

[tool.semantic_release.branches.main]
version_variable = ["pyproject.toml:project.version"]
version_toml = ["pyproject.toml:project.version"]
branch = "main"
tag_format = "feluda-{version}"

[tool.hatch.build.targets.wheel]
packages = ["feluda"]