flask==1.0.0
google-cloud==0.34.0
google-cloud-vision==0.34.0
scikit-image==0.15.0
pymongo
dnspython
tqdm
torch==1.2.0
torchvision==0.4.0
textblob
Pillow==7.1.0
opencv-python-headless
elasticsearch
wget==3.2
pika==1.1.0
ffmpy==0.2.3