flask==3.0.3
Flask-Cors==5.0.0
Pillow==10.4.0
elasticsearch==8.16.0
wget==3.2
pika==1.3.2
python-dotenv==1.0.1
click==8.1.7
pytest==8.3.3
PyYAML==6.0.2
dacite==1.8.1
memray==1.14.0  # dev
pyinstrument==4.7.3
numpy==2.1.1
requests==2.32.2
locust==2.31.5
nose2==0.15.1
psycopg2-binary==2.9.9
boto3==1.35.16
pydub==0.25.1
# not direct requirments, but added because of pip-audit report
certifi==2024.7.4
urllib3==2.2.2